body {
  background-image: url("https://images.unsplash.com/photo-1598063183638-4ffe7c5f0f8d?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  height: auto;
  position: absolute;
  background-size: cover;
  opacity: 0,5;
}

h1 {
	text-align: center;
	margin: 0;
	margin left:0;
	margin-right: 0;
	padding: 0;
  	border: 0;
	color: lightseagreen;
	font-size: 60px;
	font-family: Verdana;
}

a.button1 {
  clip: rect(0px,60px,200px,0px)
  border:none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

 a.button2 {
  clip: rect(0px,60px,200px,0px)
  border:none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

a.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

a.button1:hover {
  background-color: #4CAF50;
  color: white;
}

a.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

a.button2:hover {
  background-color: #008CBA;
  color: white;
}

h2 {
	margin: 0;
	padding: 0;
  border: 0;
	color: black;
	font-size: 20px;
	font-family: Verdana;
}

#area {
  position: absolute; 
 	visibility: visible; 
 	left: 20px; 
 	top: 200px; 
 	z-index: 0;
	background-color: whitesmoke;
    width: 400px;
    height: 250px;
    border: 3px solid #008b8b;
    color: black;
	font-size: 18px;
  padding: 5px;
	font-family: Verdana;
}

#header {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
    width: 2000px;
    height: 75px;
    border: 0px;
}

footer {
	position: absolute; 
    visibility: visible; 
    left: 10px; 
    top: 1500px; 
	margin: 0;
	padding: 0;
  	border: 0;
	color: black;
	font-size: 20px;
	font-family: Verdana;
}

#ImageClick {
  position: absolute; 
  visibility: visible; 
  left: 20px; 
  top: 550px; 
  display: square;
  height: 200px;
  width: 400px;
}

#locator1 {
  position: absolute; 
  visibility: visible; 
  left: 550px; 
  top: 150px;
  height: 200px; 
  width: 400px; 
  z-index: 600; 
  color: black;
  font-size: 25px;
  font-family: Verdana;
}
#locator2 {
  position: absolute; 
  visibility: visible; 
  left: 1000px; 
  top: 150px;
  height: 200px; 
  width: 400px; 
  z-index: 600;
  color: black;
  font-size: 25px;
  font-family: Verdana;
}

#Video {
  position: absolute; 
  visibility: visible;
  border: 1; 
  left: 800px; 
  top: 800px;
}
